<!-- 产品货架 -->
<ion-view view-title="主页
">
    <!-- Modal header bar -->
    <ion-header-bar class="bar-secondary">
        <h1 class="title">关联货架产品</h1>
        <button class="button button-clear button-positive" ng-click="goBack()">取消</button>
    </ion-header-bar>
    <!-- Modal content area -->
    <ion-content>
        <form action="http://192.168.1.6:3000/receipt/add" method="post">
            <div class="list">
                <label class="item item-input item-select">
                    <div class="input-label">
                        产品班别:
                    </div>
                    <select ng-model="receipt.team">
                        <option value='甲' selected>甲</option>
                        <option value='乙'>乙</option>
                        <option value='丙'>丙</option>
                    </select>
                </label>
                <label class="item item-input">
                    <span class="input-label">生产日期:</span>
                    <input type="date" ng-model="receipt.product_date" name="product_date">
                </label>
                <label class="item item-input">
                    <span class="input-label">产品编号:</span>
                    <input type="text" ng-model="receipt.product_number" name="product_number">
                </label>
                <label class="item item-input">
                    <span class="input-label">货架编号:</span>
                    <input type="text" ng-model="receipt.shelf_number" name="shelf_number">
                </label>
                <label class="item item-input">
                    <span class="input-label">物流编码:</span>
                    <input type="text" ng-model="receipt.queryCode">
                </label>
                <label class="item item-input">
                    <span class="input-label">货架容量:</span>
                    <input type="text" ng-model="receipt.products.length">
                </label>
            </div>
            <div class="padding row">
                <div class="col-50 padding">
                    <button ng-click="scanBarcode()" class="button button-block button-positive">扫一扫</button>
                </div>
                <div class="col-50 padding">
                    <button type="submit" class="button button-block button-positive">提交</button>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>
