<ion-view view-title="主页">
    <div class="bar bar-header bar-positive ">
        <h1 class="title">库存及防伪追溯系统</h1>
    </div>
    <ion-content class="padding has-header">
        <div class="list card">
            <a href="#" class="item item-icon-left" ng-click="ruku()">
                <i class="icon ion-ios-download"></i> 入库
            </a>
            <a href="#" class="item item-icon-left">
                <i class="icon ion-arrow-swap"></i> 移库
            </a>
            <a href="#" class="item item-icon-left" ng-click="chuku()">
                <i class="icon ion-ios-upload"></i> 出库
            </a>
            <a href="#" class="item item-icon-left">
                <i class="icon ion-xbox"></i> 退货
            </a>
        </div>
    </ion-content>
</ion-view>
<!-- 产品货架 -->
<script id="product-shelf.html" type="text/ng-template">
    <div class="modal">
        <!-- Modal header bar -->
        <ion-header-bar class="bar-secondary">
            <h1 class="title">关联货架产品</h1>
            <button class="button button-clear button-positive" ng-click="closemodal()">取消</button>
        </ion-header-bar>
        <!-- Modal content area -->
        <ion-content>
            <form ng-submit="uploadReceipt()">
                <div class="list">
                    <label class="item item-input item-select">
                        <!-- <span class="input-label">产品班别:</span> -->
                        <!--  <input type="text" ng-model="receipt.team"> -->
                        <div class="input-label">
                            产品班别:
                        </div>
                        <select ng-model="receipt.team">
                            <option value='甲' selected>甲</option>
                            <option value='乙'>乙</option>
                            <option value='丙'>丙</option>
                        </select>
                    </label>
                    <label class="item item-input">
                        <span class="input-label">生产日期:</span>
                        <input type="date" ng-model="receipt.product_date">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">产品编号:</span>
                        <input type="text" ng-model="receipt.product_number">
                        <!-- <button class="button icon ion-ios-refresh-empty" ng-click="resetProduct()"></button> -->
                    </label>
                    <label class="item item-input">
                        <span class="input-label">货架编号:</span>
                        <input type="text" ng-model="receipt.shelf_number">
                        <!-- <button class="button icon ion-ios-refresh-empty" ng-click="resetShelf()"></button> -->
                    </label>
                    <label class="item item-input">
                        <span class="input-label">产品编码:</span>
                        <input type="text" ng-model="receipt.currentProduct">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">货架容量:</span>
                        <input type="text" ng-model="receipt.products.length">
                    </label>
                </div>
                <div class="padding">
                    <button type="submit" class="button button-block button-positive">提交</button>
                </div>
            </form>
        </ion-content>
    </div>
</script>
<!-- 仓位货架 -->
<script id="position-shelf.html" type="text/ng-template">
    <div class="modal">
        <!-- Modal header bar -->
        <ion-header-bar class="bar-secondary">
            <h1 class="title">关联仓位货架</h1>
            <button class="button button-clear button-positive" ng-click="closemodal()">取消</button>
        </ion-header-bar>
        <!-- Modal content area -->
        <ion-content>
            <form ng-submit="saveReceipt()">
                <div class="list">
                    <label class="item item-input">
                        <input type="text" placeholder="What do you need to do?" ng-model="task.title">
                    </label>
                </div>
                <div class="padding">
                    <button type="submit" class="button button-block button-positive">Create Task</button>
                </div>
            </form>
        </ion-content>
    </div>
</script>
